:focus {
  outline: 0;
}

.table {
  border-collapse: collapse;
}

.col {
  border: 1px solid black;
  width: 100px;
  padding: 5px;
  text-align: center;
}

.btn {
  padding: 8px 20px;
  background-color: #d9534f;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.form-box {
  margin: 10px 0;
}

.label {
  display: inline-block;
  width: 110px;
  text-align: center;
}

.input {
  padding: 3px;
  border: 1px solid grey;
  border-radius: 6px;
}

.btn-success {
  background-color: #5cb85c;
}
