* {
  box-sizing: border-box;
}

.tests-list {
  display: flex;
  overflow: hidden;
  width: 300px;
  padding-left: 0;
}

.item {
  min-width: 100%;
  border: 1px solid black;
  list-style: none;
  padding: 10px;
  transition: 0.5s;
}

.list-answers {
  padding: 0;
}

.item-answers {
  list-style: none;
  padding: 5px;
}
